<%- include('partials/header.ejs') %> 

<main class="container" id="main">
    
    <div class="jumbotron jumbotron-fluid bg-light rounded-2">
        <div class="container">
            <h1 class="text-8">Welcome!</h1>
            <p class="lead text-3">Hello, welcome to YouTask where you could manage/assign tasks to make your work easily</p>
        </div>
    </div>
    
    
    
</main>


<%- include('partials/footer.ejs') %> 