<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/dbTest/tasks/create" method="POST">
        <label>
            task name
            <input type="text" name="name" placeholder="task name ">
        </label>
        
        <div>
        <textarea name="description" id="" cols="30" rows="10"></textarea>

        </div>

        <label>
            start date
            <input type="date" name="start">
        </label>

        <label>
            due date
            <input type="date" name="due">
        </label>


        <input type="submit">
    </form>

    <button onclick="perform()">click</button>


    <script src="/javascripts/customs.js"></script>
    <script>
        async function perform(){
            const ajax = new Ajax();
            const result = await ajax.get('/tasks');
            console.log(result);
        }
    </script>
</body>
</html>