/*
  font color: rgb(82,82,82);
  bg color : rgba(190, 189, 189, 0.911);
  active color :
  border color: rgb(221, 221, 221)
*/

body {
  color: rgb(82, 82, 82);
  margin: 0;
  padding: 0;
  box-sizing: border-box;


  /*background: linear-gradient(to right bottom, rgb(204, 255, 230) ,rgb(255, 204, 153, .9));*/


  /*background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);*/
  background-color: #f5f5f0;

}

[v-cloak] {
  display: none !important;
}


.test{
  background-color: bisque;
  border: 1px solid black;
}

.delink {
  color: rgb(232, 232, 232);
}

.delink:hover {
  text-decoration: none;
  color: white;
}


.intro {
  height: 40vh;
  width: 100%;
  background-image : linear-gradient(to right bottom, rgb(204, 255, 230) ,rgb(255, 204, 153, .9)), url(../images/bg.jpg);
  background-size : cover;
  background-position : center;
}

main {
  margin : 3em;
}
.navbar {
  position : fixed;
  top : 0;
  width : 100vw;
  z-index : 3;

}
.navbar-logo {
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  padding-left: 1em;
  padding-right: 1em;
  font-weight: 600;
  margin-left: 2em;
}
.navbar-item {
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  padding-left: 1em;
  padding-right: 1em;
  transition: 0.1s;
}

.navbar-item:hover {
  background-color: rgba(170, 170, 170, 0.3);
}

.navbar-btn {
  padding: 0.25em 1em;
  border: 1px solid silver;
  outline : none;
  background: none;
}

.navbar-btn:focus {
  outline: none;
}

.navbar-btn-blue:hover {
  background-color: rgba(0, 147, 206, 0.822);
  border-color: rgba(0, 147, 206, 0.822);
}

.navbar-btn-blue:active {
  background-color: rgba(0, 117, 163, 0.822);
  border-color: rgba(0, 117, 163, 0.822);
}

.navbar-btn-gray:hover {
  background-color: rgba(206, 206, 206, 0.822);
  border-color: rgba(206, 206, 206, 0.822);
}

.navbar-btn-gray:active {
  background-color: rgba(126, 126, 126, 0.822);
  border-color: rgba(126, 126, 126, 0.822);
}

.navbar-btn-yellow:hover {
  background-color: #ffcc33;
  border-color: rgba(207, 185, 58, 0.5);
  color: white;
}

.navbar-btn-yellow:active {
  background-color: rgb(182, 148, 0);
  border-color: rgb(182, 148, 0);
}


.sidebar-item{
  margin: 50em 2em;
  padding: 0.5em 0em;
  font-size : 1em;
  color: rgb(182, 182, 182);
}

.sidebar-item:hover{
  color: rgb(252, 252, 252);

}


.task-box {
  background-color: rgba(162, 162, 162, .8);
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 1em;
}

.task-unit {
  background-color: rgba(238, 237, 237, 0.815);
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 1em;
}

.task-new {
  /*border: 3px dashed #FF851B !important;*/

  border-width: 4px !important;
  border-style: dashed !important;
  /*border-color: aliceblue !important;*/

  padding: 0.8em 1.2em;

}

.colleagues {
  display: flex;
  flex-wrap: wrap;
}
.colleague {

  background-color: rgb(102, 102, 102);
  padding: 0.5em 1.5em;
  margin: 0.5em;
  border-radius: 2em;
  color:white;
  font-size: 1.2em;
}


.colleague-lg {
  width: 4em;
  height: 4em;
  background-color: rgb(108, 151, 111);
  display: inline-block;
  border-radius: 5em;

}


.colleague-small {
  width: 2em;
  height: 2em;
  background-color: rgb(219, 223, 197);
  display: inline-block;
  border-radius: 5em;

}





.assignee {
  border-radius: 0.4em;
  margin: 1em;
  background-color: rgb(228, 228, 228);;
}
.clicked {
  outline: 3px solid cornflowerblue;

}
.assignee-head {
  border-top-left-radius: 0.4em;
  border-top-right-radius: 0.4em;
  background-color: rgba(250, 250, 250, 0.9);
  transition: 0.4s;
}


.positive-mg {
  margin-left: 0;
  margin-right: 0;
}
.info-table {
  border: 1px solid rgb(221, 221, 221);
  padding-top: 1em;

  border-radius: 0.4em;

}

.info-item {
  border-top: 1px solid rgb(221, 221, 221);
  padding: 1.3em 1em;
}

.info-item:hover {
  background-color: rgba(221, 221, 221, 0.151);
}

/* people's preferred tasks */
/*.preference {
  border-radius: 1em;
  border: 1px solid rgb(221, 221, 221);
  padding: 0.2em 1em 0.2em 0.5em;
}*/


.profile-update {
  padding: 0.3em 0.5em;
  margin: 0.5em;
  border-radius: 0.2em;
  background-color: rgb(232, 232, 232);
  color: rgb(100, 100, 100);
  font-weight : 600;
  transition: 0.2s;
  border:none;
}

.profile-update:hover {
  background-color: rgb(170, 170, 170, .6);
  color: white;
}

.profile-update:focus {
  outline : none;
}

.profile-update:active {
  background-color: rgb(150,150,150);
}
.preference {
  /*border: 1px solid rgb(154, 154, 154);*/
  padding: 0.3em 0.5em;
  margin: 0.5em;
  border-radius: 0.2em;
  background-color: rgb(242, 242, 242, .5);
  transition: 0.2s;
}

.preference:hover{
  background-color: rgb(232, 232, 232);
  color: rgb(77, 77, 77);

}
.preference-tag {

}
.preference-delete {
  background: none;
  border: none;
  color: rgb(204, 204, 204);
  padding:0;
}

.preference-delete:hover{
  color: rgb(154, 154, 154);
}
.preference-delete:focus {
  outline: none;
}
.preference-new {
  padding: 0.2em 0.5em;
  background: none;
  margin: 0.5em;
  border: 3px dashed rgb(221, 221, 221);
  border-radius: 0.2em;
  color: rgb(200,200,200);
  transition: 0.2s;
}

.preference-new:hover{
  background-color: rgb(232, 232, 232);
  color: rgb(120, 120, 120);
}

.preference-new:focus {
  outline: none;

}

.switch-on{
  border:none;
  margin:0;

  padding: 0.3em 0.6em;
  background-color: rgb(240, 240, 240,.5);
  color: rgb(190,190,190);
  transition: 0.2s;

  border-top-left-radius: 0.4em;
  border-bottom-left-radius: 0.4em;

}

.switch-off{
  border:none;
  margin:0;

  padding: 0.3em 0.6em;
  background-color: rgb(240, 240, 240,.5);
  color: rgb(190,190,190);
   transition: 0.2s;
  border-top-right-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
}

.switch:hover{
  background-color: rgb(200,200,200, 0.6);
  color: white;
}

.switch-selected{
  background-color: rgb(190,190,190)!important;
  color: white;
}
.notification-new {
  border: 3px dashed rgb(221, 221, 221);
  padding: 0.5em 1em;
  border-radius: 0.4em;
}

.notification-mess {
  border: none;
  background: none;
  height: 5em;
  border-radius: 1em;
  padding: 0.5em 1em;


}

.notification-mess:focus {
  outline: none;
}

.notification-delete {
  background-color : rgba(190, 59, 59, 0.849);
  height: 100%;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}


.form-control{
  border-radius: 0;

}
.form-control:focus {
  box-shadow: 1px 3px 3px 3px rgba(231, 231, 231, 0.651);
  outline: 3px solid rgba(158, 158, 158, 0.836);

  border-color: rgb(116, 116, 116);
}

.identity-select {
  border: none;
  padding: 0.7em 1em;
  margin: 0.5em 0em;
  transition: 0.05s;
}

.identity-select:focus {
  outline : none;
}

.identity-select-purple {
  background-color: rgb(153, 102, 255);
  border: none;
  color: white;
}

.identity-purple:hover {
  background-color: rgb(153, 102, 255, .7);
  border: none;
  color: white;
}

.identity-blue:hover {
  background-color:  rgb(51, 102, 255, .7);
  border: none;
  color: white;
}
.identity-select-blue {
  background-color: rgb(51, 102, 255);
  border: none;
  color: white;
}

#upscroll{
  position:fixed;
  right: 3em;
  bottom: 3em;
  background:none;
  border:none;
  color: rgba(64, 191, 128, 0.2);
  transition: 0.5s;
}

#upscroll:focus {
  outline:none;
}

#upscroll:hover {
  color: rgba(64, 191, 128, 0.9);
}



.count {
  border: 2px solid rgb(64, 64, 64,.7);
  border-radius : 10em;
  padding : 0em 0.4em;
  color: rgb(64, 64, 64,.5);
  font-size: 0.5em;
}

.overdue{
  background-color: rgb(255, 148, 77, 0.8);
  border-radius : 0.4em;
  padding: 0.2em 0.5em;
}

.description-input {
  width: 100%;
  /*resize: none;*/
  height : 8em;
  padding: 0.5em 1em;
  background: none;
  border: none;

}

.description-input:focus{
  outline: 2px solid rgb(51, 153, 255);
  background: rgb(242, 242, 242);
}

