.no-rounded {
    border-radius: 0;
}

.rounded-1 {
    border-radius: 0.2em;
}

.rounded-2 {
    border-radius: 0.4em;
}


.rounded-3 {
    border-radius: 0.6em;
}


.rounded-4 {
    border-radius: 0.8em;
}


.rounded-5 {
    border-radius: 1em;
}

.w-75 {
    width: 75%;
}

.res-w-10 {
    max-width: 10rem;
    width: 100%;
}

.res-w-15 {
    max-width: 15rem;
    width: 100%;
}

.res-w-20 {
    max-width: 20rem;
    width: 100%;
}


.res-w-25 {
    max-width: 25rem;
    width: 100%;
}

.res-w-30 {
    max-width: 30rem;
    width: 100%;
}

.res-w-35 {
    max-width: 35rem;
    width: 100%;
}


.res-w-40 {
    max-width: 40rem;
    width: 100%;
}


.res-w-45 {
    max-width: 45rem;
    width: 100%;
}

.res-w-50 {
    max-width: 50rem;
    width: 100%;
}

.debtn {
    background: none;
    border: none;
}

.debtn:focus {
    outline: none;
}


.dplay-none {
    display: none;
}

.dplay-none-im {
    display: none !important;
}
.bder-bottom {
    border-bottom: 1px solid silver;
}

.shadow-1 {
    box-shadow: 0 10px 25px rgba(0,0,0,0.05), 0 20px 48px rgba(0,0,0,0.05), 0 1px 4px rgba(0,0,0,0.1);
}

.shadow-2 {
    box-shadow: 0 5px 25px rgba(0,0,0,0.05), 0 10px 48px rgba(10,10,10,0.03), 0 1px 4px rgba(10,10,10,0.1);
}

.break {
    flex-basis: 100%;
}

.underline-input {
    background: none;
    border: none;
    border-bottom: 1px solid rgb(221,221,221);

    width: 100%;
    padding: 0.5em 0;

}

.underline-input:focus {
  outline:none;
}

.underline-date {
  text-align: center;
  border: none;
  border-bottom: 1px solid rgb(221, 221, 221) ;
  padding: 0.2em 1em;
  background: none;

}

.no-focus:focus {
  outline: none;
}

.underline-div {
  border: none;
  border-bottom: 1px solid rgb(221,221,221);
  padding: 0.5em;
}

.rounded-div {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 1em;
}

.clip-content {
    background-clip: content-box;
}

.clip-padding {
    background-clip: padding-box;
}

.clickable {
    background-color: rgb(217, 217, 217);
    color: silver;
    font-weight : 600;
    padding: 0.3em 0.5em;
    opacity: 0.7;
    transition: 0.4s;
    border-radius : 0.3em;
}

.clickable:hover {
    background-color: rgb(128, 128, 128);
    color: white;
    opacity: 1;
}

.clickable-red {
    background-color: rgb(207, 81, 61);;
    color: silver;
    font-weight : 600;
    padding: 0.3em 0.5em;
    opacity: 0.8;
    transition: 0.2s;
    border-radius : 0.3em;
}

.clickable-red:hover{
    background-color: rgb(227, 101, 81);
    color: white;
    opacity: 1;
}
.task-attribute {
    background-color: rgb(230, 230, 230);
    border-radius: 0.4em;
    padding: 0.2em 0.4em;
    transition: 0.3s;
    margin : 0.2em 0.1em;
    /*margin: 0em 0.5em;*/
}

.task-attribute:hover{
    background-color: rgb(200, 200, 200);
}


.alignitems{
    display: flex;
    align-items: center;
}

.stick-bottom {
    position:fixed;
    bottom: 2em;
    z-index : 3;
    opacity: 0.6;
}

/* hide input number arrows*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.responsive-display {
    display: none;
}
@media screen and (max-width: 780px) {
  .responsive-hidden {
    display: none !important;
  }

  .navbar-logo {
      margin-left: 0em;
      flex-grow: 1;
    }

    .responsive-display {
        display: inline-block;
    }

    .intro{
        height : 30vh;
    }

    .intro h1 {
        font-size : 2.3em!important;
    }

    .intro p {
        font-size: 1.4em !important;
    }
}