<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- custom CSS -->
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="stylesheet" href="/stylesheets/color.css">
    <link rel="stylesheet" href="/stylesheets/text.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>

    <!-- My custom methods -->
    <script src="/javascripts/customs.js"></script>
    
    <!-- Google sign in -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="648640230327-7lvnmudv7f718m32rl8ejvu7k65l2mlu.apps.googleusercontent.com">

    <link rel="shortcut icon" href="favicon.ico">

    <title>YouTask</title>

</head>
<body>

<!-- Navigation bar -->

    <header>
        <!--<nav class="navbar navbar-light bg-light py-1 mb-4">
            
            <div class="container">
                <a class="navbar-brand text-3" href="/">YouTask Logo</a>

                <div class="navbar-nav mr-auto flex-row">
                <a class="nav-link nav-item text-3 mx-3" href="/myTasks">Tasks</a>
                <a class="nav-link nav-item text-3 mx-3" href="/manageTasks">Manage</a>
                <a class="nav-link nav-item text-3 mx-3" href="/profile">Profile</a>


                </div>

            
                <button class="btn btn-primary mr-2 text-3 ">
                    Login
                </button>

                <a href="/users/signup" class="btn btn-light text-3">
                    Signup
                </a>
            </div>
            
        </nav>-->

        <nav class="d-flex navbar bg-light mb-4 shadow-2" id="navbar" v-cloak>
            <div class="navbar-logo">
                <a href="/" class="delink mx-3">
                YouTask
                </a>
            </div>
        
            <div class="navbar-items flex-grow-1">
                <a href="/myTasks" class="delink mx-2 navbar-item">Tasks</a>
                <a href="/manageTasks" class="delink mx-2 navbar-item">Manage</a>

                <a href="/profile" class="delink mx-2 navbar-item">Profile</a>
                <a href="/email" class="delink mx-2 navbar-item">Emails</a>
            </div>
        
            <div class="navbar-ending">
                <!--<button class="navbar-btn navbar-btn-gray rounded-4 ">
                    Login
                </button>
        
                <button class="navbar-btn navbar-btn-blue rounded-4">
                    Signup
                </button>-->
                <span class="mx-3">{{username}}</span>
                <a href="/users/logout" class="delink navbar-btn navbar-btn-yellow rounded-4" v-if="isLoggedIn">Log out</a>
                <a href="/users/login" class="delink navbar-btn navbar-btn-blue rounded-4" v-if="!isLoggedIn">Log in</a>
                <a href="/users/signup" class="delink navbar-btn navbar-btn-gray rounded-4" v-if="!isLoggedIn">Sign up</a>
                
            </div>
            </nav>
    </header>
    
    <script src="/javascripts/navbar.js"></script>



